*{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}
body{
    height: 100vh;
    width: 100vh;
    background-image: url(https://images7.alphacoders.com/694/thumb-1920-694587.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: ;
    background-position: center;
}
header{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h1{
    font-size: 11vh;
    overflow: hidden;
    color: snow;
}
main{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
main>p{
    color: snow;
    font-size: 4vh;
    width: 80%;
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 8vh;
}
form{
    font-size: 200%;
    height: 28vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
label{
    color: snow;
    width: 40vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
input{
    font-size: 100%;
    width: 28vw;
    margin-left: 2vh;
    height: 6vh;
    text-indent: 1vw;
}
footer{
    font-size: 200%;
    color: rgb(47, 42, 42);
    background-color: rgba(246, 234, 233, 0.479);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}